# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
myenv/
env/
.venv/

# Ignore only root data folder
/data/

# Model artifacts
models/artifacts/

# Serialized ML files
*.pkl
*.joblib

# Logs
*.log
errors.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
.spyproject/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Build and packaging
build/
dist/
*.egg-info/
.eggs/

# Coverage and testing
.coverage
.coverage.*
.cache
htmlcov/
.tox/

# Documentation build
docs/_build/

notes.txt