# Core Libraries
pandas
numpy
scikit-learn
scipy
joblib

# NLP
nltk
emoji
regex

# Visualization
matplotlib
seaborn

# Gradient Boosting
lightgbm
xgboost

# Config & Utilities
PyYAML
python-dotenv
tqdm

# AWS
boto3

# MLOps
dvc
dvc-s3
mlflow
dagshub

# API / Deployment
Flask
flask-cors
waitress

# Optional Notebook Support
jupyter
notebook
ipykernel